body {
  margin: 0;
  font-family: "Lato", "Helvetica", "Sans-serif";
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2,
h3,
h4,
h5,
h6 {
  color: #3f3d4b;
  font-weight: 700 !important;
}

hr {
  width: 100px;
  margin-left: 0;
  margin-top: 2rem;
}
